<div class="container">
  <h2>Upload some tests to help out the homies!</h2>

  <form action='/universities/<%=@university_id%>/<%=@course_id%>' method="post" enctype="multipart/for-data">
    <div>
      <label>File Name:</label>
      <input type="text" name="file_name">
    </div>
    <div>
      <label>File:</label>
      <input type="file" name="uploaded_file">
    </div>
    <div>
      <button type="submit">Upload!</button>
    </div>
  </form>

</div>
