<h3>Welcome to note share!</h3>

<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<article>
<!--  Content  -->
  <h1 id= "note">NOTE NETWORK</h1>
</article>

<!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
<img src="http://mattgrossdesign.com/raw-media/first-frame-screencap" id="video-background" muted>
  <source src="http://mattgrossdesign.com/raw-media/wood+autumn-HD.mp4" type="video/mp4">

<div id='login_form'>
  <h2>Login Homie</h2>
  <form action='/' method="post">
    <div>
      <input type="text" placeholder= "username" name="username">
    </div>
    <div>
      <input type="password" placeholder = "password" name="password">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>



<a href="/signup">Sign up!</a>
