<h3>Sign up to post materials that will help your peers</h3>

<form action='/signup' method="post">
  <div>
    <label>First Name:</label>
    <input type="text" name="first_name">
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" name="last_name">
  </div>
  <div>
    <label>Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label>Email:</label>
    <input type="text" name="email">
  </div>
  <div>
    <label>Password:</label>
    <input type="text" name="password">
  </div>
  <div>
    <label>Profile Picture:</label>
    <input type="text" name="image">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<a href="/home_page">Sign up later</a>
